<div class="book-cover-wrapper" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  <img
    [src]="urlHelper.getThumbnailUrl(book.id, book.metadata?.coverUpdatedOn)"
    class="book-cover"
    [attr.alt]="'book.cardLite.a11y.coverAlt' | translate:{ title: (book.metadata?.title || '') }"
    loading="lazy"/>
    
  @if (showSeriesNumber && !book.seriesCount && book.metadata?.seriesNumber != null) {
    <div class="series-number-overlay">
      #{{ book.metadata?.seriesNumber }}
    </div>
  }

  @if (!this.isActive) {
    <p-button
      icon="pi pi-info"
      class="info-btn"
      [rounded]="true"
      [pTooltip]="book.metadata?.title"
      tooltipPosition="top"
      [ngClass]="{ 'visible': isHovered }"
      (onClick)="openBookInfo(book)">
    </p-button>
  }
</div>
