@if (userService.userState$ | async; as userState) {
  @if (userState.user) {
    <div class="rounded-xl overflow-hidden border-[1px] border-solid border-[var(--p-content-border-color)]">
      <p-tabs [(value)]="activeTab" lazy scrollable>
        <p-tablist>
          <p-tab [value]="SettingsTab.ReaderSettings">
            <i class="pi pi-book"></i> {{ 'settings.tabs.reader' | translate }}
          </p-tab>
          <p-tab [value]="SettingsTab.ViewPreferences">
            <i class="pi pi-desktop"></i> {{ 'settings.tabs.view' | translate }}
          </p-tab>
          @if (userState.user.permissions.admin || userState.user.permissions.canManageMetadataConfig) {
            <p-tab [value]="SettingsTab.MetadataSettings">
              <i class="pi pi-sliders-h"></i> {{ 'settings.tabs.metadata1' | translate }}
            </p-tab>
            <p-tab [value]="SettingsTab.LibraryMetadataSettings">
              <i class="pi pi-database"></i> {{ 'settings.tabs.metadata2' | translate }}
            </p-tab>
          }
          @if (userState.user.permissions.admin || userState.user.permissions.canManageGlobalPreferences) {
            <p-tab [value]="SettingsTab.ApplicationSettings">
              <i class="pi pi-cog"></i> {{ 'settings.tabs.application' | translate }}
            </p-tab>
          }
          @if (userState.user.permissions.admin) {
            <p-tab [value]="SettingsTab.UserManagement">
              <i class="pi pi-users"></i> {{ 'settings.tabs.users' | translate }}
            </p-tab>
          }
          <p-tab [value]="SettingsTab.EmailSettingsV2">
            <i class="pi pi-envelope"></i> {{ 'settings.tabs.email' | translate }}
          </p-tab>
          @if (userState.user.permissions.admin || userState.user.permissions.canManageMetadataConfig) {
            <p-tab [value]="SettingsTab.NamingPattern">
              <i class="pi pi-sitemap"></i> {{ 'settings.tabs.patterns' | translate }}
            </p-tab>
          }
          @if (userState.user.permissions.admin) {
            <p-tab [value]="SettingsTab.AuthenticationSettings">
              <i class="pi pi-lock"></i> {{ 'settings.tabs.authentication' | translate }}
            </p-tab>
          }
          @if (userState.user.permissions.admin || userState.user.permissions.canAccessTaskManager) {
            <p-tab [value]="SettingsTab.Tasks">
              <i class="pi pi-list-check"></i> {{ 'settings.tabs.tasks' | translate }}
            </p-tab>
          }
          <p-tab [value]="SettingsTab.OpdsV2">
            <i class="pi pi-globe"></i> {{ 'settings.tabs.opds' | translate }}
          </p-tab>
          <p-tab [value]="SettingsTab.DeviceSettings">
            <i class="pi pi-mobile"></i> {{ 'settings.tabs.devices' | translate }}
          </p-tab>
          <p-tab [value]="SettingsTab.StorageSettings">
            <i class="pi pi-cloud"></i> {{ 'settings.tabs.storage' | translate }}
          </p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="SettingsTab.ReaderSettings">
            <ng-template #content>
              <app-reader-preferences></app-reader-preferences>
            </ng-template>
          </p-tabpanel>
          <p-tabpanel [value]="SettingsTab.ViewPreferences">
            <ng-template #content>
              <app-view-preferences-parent></app-view-preferences-parent>
            </ng-template>
          </p-tabpanel>
          @if (userState.user.permissions.admin || userState.user.permissions.canManageMetadataConfig) {
            <p-tabpanel [value]="SettingsTab.MetadataSettings">
              <ng-template #content>
                <app-metadata-settings-component></app-metadata-settings-component>
              </ng-template>
            </p-tabpanel>
            <p-tabpanel [value]="SettingsTab.LibraryMetadataSettings">
              <ng-template #content>
                <app-library-metadata-settings-component></app-library-metadata-settings-component>
              </ng-template>
            </p-tabpanel>
          }
          @if (userState.user.permissions.admin || userState.user.permissions.canManageGlobalPreferences) {
            <p-tabpanel [value]="SettingsTab.ApplicationSettings">
              <ng-template #content>
                <app-global-preferences></app-global-preferences>
              </ng-template>
            </p-tabpanel>
          }
          @if (userState.user.permissions.admin) {
            <p-tabpanel [value]="SettingsTab.UserManagement">
              <ng-template #content>
                <app-user-management></app-user-management>
              </ng-template>
            </p-tabpanel>
          }
          <p-tabpanel [value]="SettingsTab.EmailSettingsV2">
            <ng-template #content>
              <app-email-v2></app-email-v2>
            </ng-template>
          </p-tabpanel>
          @if (userState.user.permissions.admin || userState.user.permissions.canManageMetadataConfig) {
            <p-tabpanel [value]="SettingsTab.NamingPattern">
              <ng-template #content>
                <app-file-naming-pattern></app-file-naming-pattern>
              </ng-template>
            </p-tabpanel>
          }
          @if (userState.user.permissions.admin) {
            <p-tabpanel [value]="SettingsTab.AuthenticationSettings">
              <ng-template #content>
                <app-authentication-settings></app-authentication-settings>
              </ng-template>
            </p-tabpanel>
          }
          @if (userState.user.permissions.admin || userState.user.permissions.canAccessTaskManager) {
            <p-tabpanel [value]="SettingsTab.Tasks">
              <ng-template #content>
                <app-task-management></app-task-management>
              </ng-template>
            </p-tabpanel>
          }
          <p-tabpanel [value]="SettingsTab.OpdsV2">
            <ng-template #content>
              <app-opds-settings></app-opds-settings>
            </ng-template>
          </p-tabpanel>
          <p-tabpanel [value]="SettingsTab.DeviceSettings">
            <ng-template #content>
              <app-device-settings-component></app-device-settings-component>
            </ng-template>
          </p-tabpanel>
          <p-tabpanel [value]="SettingsTab.StorageSettings">
            <ng-template #content>
              <app-storage-settings></app-storage-settings>
            </ng-template>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  }
}
