<div class="metadata-settings">
  <div class="setting-item">
    <div class="setting-info">
      <label class="setting-label">{{ 'settings.metadataProviders.enabledProviders.label' | translate }}</label>
      <p class="setting-description">
        <i class="pi pi-info-circle"></i>
        {{ 'settings.metadataProviders.enabledProviders.description' | translate }}
      </p>
    </div>
  </div>

  <div class="providers-list">
    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox [(ngModel)]="amazonEnabled" [binary]="true"></p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.amazon' | translate }}</label>
        </div>
      </div>

      <div class="provider-config">
        <div class="config-field">
          <label class="config-label">{{ 'settings.metadataProviders.amazon.region.label' | translate }}</label>
          <p-select
            [options]="amazonDomains"
            [(ngModel)]="selectedAmazonDomain"
            [placeholder]="'settings.metadataProviders.amazon.region.placeholder' | translate"
            class="config-select">
          </p-select>
        </div>

        <div class="config-field">
          <div class="config-label-row">
            <label class="config-label">{{ 'settings.metadataProviders.amazon.cookie.label' | translate }}</label>
            <app-external-doc-link docType="amazonCookie"></app-external-doc-link>
          </div>
          <p class="config-description">
            <i class="pi pi-info-circle"></i>
            {{ 'settings.metadataProviders.amazon.cookie.description' | translate }}
          </p>
          <input
            type="text"
            pInputText
            [placeholder]="'settings.metadataProviders.amazon.cookie.placeholder' | translate"
            fluid
            class="max-w-[60rem]"
            [(ngModel)]="amazonCookie"/>
        </div>
      </div>
    </div>

    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox [(ngModel)]="goodreadsEnabled" [binary]="true"></p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.goodreads' | translate }}</label>
        </div>
      </div>
    </div>

    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox [(ngModel)]="googleEnabled" [binary]="true"></p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.google' | translate }}</label>
        </div>
      </div>

      <div class="provider-config">
        <div class="config-field">
          <label class="config-label">{{ 'settings.metadataProviders.google.languageRestriction.label' | translate }}</label>
          <p-select
            [options]="googleLanguages"
            [(ngModel)]="selectedGoogleLanguage"
            [showClear]="!!selectedGoogleLanguage"
            [placeholder]="'settings.metadataProviders.google.languageRestriction.placeholder' | translate"
            class="config-select">
          </p-select>
        </div>
      </div>
    </div>

    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox
            [binary]="true"
            [(ngModel)]="hardcoverEnabled"
            [disabled]="!hardcoverToken">
          </p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.hardcover' | translate }}</label>
        </div>
      </div>

      <div class="provider-config">
        <div class="config-field">
          <div class="config-label-row">
            <label class="config-label">{{ 'settings.metadataProviders.hardcover.apiToken.label' | translate }}</label>
            <app-external-doc-link docType="hardcover"></app-external-doc-link>
          </div>
          <input
            type="text"
            pInputText
            [placeholder]="'settings.metadataProviders.hardcover.apiToken.placeholder' | translate"
            fluid
            class="max-w-[60rem]"
            [(ngModel)]="hardcoverToken"
            (ngModelChange)="onTokenChange($event)"/>
        </div>
      </div>
    </div>

    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox
            [binary]="true"
            [(ngModel)]="comicvineEnabled"
            [disabled]="!comicvineToken">
          </p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.comicVine' | translate }}</label>
        </div>
      </div>

      <div class="provider-config">
        <div class="config-field">
          <label class="config-label">{{ 'settings.metadataProviders.comicvine.apiToken.label' | translate }}</label>
          <input
            type="text"
            pInputText
            [placeholder]="'settings.metadataProviders.comicvine.apiToken.placeholder' | translate"
            fluid
            class="max-w-[60rem]"
            [(ngModel)]="comicvineToken"
            (ngModelChange)="onComicTokenChange($event)"/>
        </div>
      </div>
    </div>

    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox [(ngModel)]="doubanEnabled" [binary]="true"></p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.douban' | translate }}</label>
        </div>
      </div>
    </div>

    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox [(ngModel)]="lubimyCzytacEnabled" [binary]="true"></p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.lubimyczytac' | translate }}</label>
        </div>
      </div>
    </div>

    <div class="provider-item">
      <div class="provider-control">
        <div class="provider-info">
          <p-checkbox [(ngModel)]="ranobedbEnabled" [binary]="true"></p-checkbox>
          <label class="provider-label">{{ 'settings.metadataProviders.provider.ranobedb' | translate }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="setting-actions">
    <p-button
      [label]="'settings.metadataProviders.action.save' | translate"
      icon="pi pi-save"
      severity="success"
      [outlined]="true"
      (click)="saveSettings()"
    ></p-button>
  </div>
</div>
