@if (book$ | async; as book) {
  <form [formGroup]="metadataForm" class="metadata-form">
    @if (isLoading) {
      <div class="loading-overlay"></div>
    }
    @if (isLoading) {
      <p-progressSpinner class="loading-spinner"></p-progressSpinner>
    }
    <div class="form-content">
      <div class="main-section">
        <div class="cover-section">
          <p-image
            [src]="urlHelper.getCoverUrl(book.id, book.metadata?.coverUpdatedOn)"
            [alt]="'metadata.editor.alt.coverImage' | translate"
            width="250"
            appendTo="body"
            lazyLoad
            [preview]="true">
          </p-image>
          @if (isUploading) {
            <p-progressSpinner class="upload-spinner"></p-progressSpinner>
          }
          <div class="cover-actions">
            <p-button
              icon="pi pi-refresh"
              (onClick)="regenerateCover(book.id)"
              [pTooltip]="'metadata.editor.tooltip.regenerateCoverFromFile' | translate"
              tooltipPosition="top"
              [outlined]="true"
              severity="warn"
              size="small"
              [disabled]="book.metadata!['coverLocked']">
            </p-button>
            <p-button
              icon="pi pi-palette"
              (onClick)="generateCustomCover(book.id)"
              [pTooltip]="'metadata.editor.tooltip.generateCustomCover' | translate"
              tooltipPosition="top"
              [outlined]="true"
              severity="help"
              size="small"
              [loading]="isGeneratingCover"
              [disabled]="book.metadata!['coverLocked'] || isGeneratingCover">
            </p-button>
            <p-button
              [disabled]="book.metadata!['coverLocked']"
              outlined
              size="small"
              icon="pi pi-search"
              (onClick)="openCoverSearch()"
              [pTooltip]="'metadata.editor.tooltip.searchCover' | translate"
              tooltipPosition="top"
              severity="info">
            </p-button>
            <p-fileupload
              [chooseStyleClass]="'p-button-sm p-button-outlined p-button-danger'"
              [pTooltip]="'metadata.editor.tooltip.uploadCover' | translate"
              tooltipPosition="top"
              [disabled]="book.metadata!['coverLocked']"
              name="file"
              [url]="getUploadCoverUrl()"
              mode="basic"
              chooseIcon="pi pi-upload"
              accept="image/jpeg,image/png"
              maxFileSize="5000000"
              (onUpload)="onUpload($event)"
              (onError)="onUploadError($event)"
              [auto]="true"
              (onBeforeUpload)="onBeforeSend()">
            </p-fileupload>
            @if (!book.metadata!['coverLocked']) {
              <p-button [pTooltip]="'metadata.editor.tooltip.lockCover' | translate" tooltipPosition="top" size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('thumbnailUrl')" severity="success"></p-button>
            }
            @if (book.metadata!['coverLocked']) {
              <p-button [pTooltip]="'metadata.editor.tooltip.unlockCover' | translate" tooltipPosition="top" size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('thumbnailUrl')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="fields-section">

          <div class="field-row">
            <div class="field-group title-field">
              <label for="title">{{ 'metadata.editor.label.title' | translate }}</label>
              <div class="field-with-lock">
                <input pInputText id="title" formControlName="title"/>
                @if (!book.metadata!['titleLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('title')" severity="success"></p-button>
                }
                @if (book.metadata!['titleLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('title')" severity="warn"></p-button>
                }
              </div>
            </div>

            <div class="field-group subtitle-field">
              <label for="subtitle">{{ 'metadata.editor.label.subtitle' | translate }}</label>
              <div class="field-with-lock">
                <input pInputText id="subtitle" formControlName="subtitle"/>
                @if (!book.metadata!['subtitleLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('subtitle')" severity="success"></p-button>
                }
                @if (book.metadata!['subtitleLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('subtitle')" severity="warn"></p-button>
                }
              </div>
            </div>

            <div class="field-group language-field">
              <label for="language">{{ 'metadata.editor.label.language' | translate }}</label>
              <div class="field-with-lock">
                <input pInputText id="language" formControlName="language"/>
                @if (!book.metadata!['languageLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('language')" severity="success"></p-button>
                }
                @if (book.metadata!['languageLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('language')" severity="warn"></p-button>
                }
              </div>
            </div>
          </div>

          <div class="field-row">
            <div class="field-group authors-field">
              <label for="authors">{{ 'metadata.editor.label.authors' | translate }}</label>
              <div class="field-with-lock">
                <p-autoComplete
                  formControlName="authors"
                  [multiple]="true"
                  [fluid]="true"
                  [dropdown]="false"
                  [suggestions]="filteredAuthors"
                  [forceSelection]="false"
                  [showClear]="false"
                  (completeMethod)="filterAuthors($event)"
                  (onKeyUp)="onAutoCompleteKeyUp('authors', $event)"
                  (onSelect)="onAutoCompleteSelect('authors', $event)">
                </p-autoComplete>
                @if (!book.metadata!['authorsLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('authors')" severity="success"></p-button>
                }
                @if (book.metadata!['authorsLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('authors')" severity="warn"></p-button>
                }
              </div>
            </div>
            <div class="field-group publisher-field">
              <label for="publisher">{{ 'metadata.editor.label.publisher' | translate }}</label>
              <div class="field-with-lock">
                <p-autoComplete
                  inputStyleClass="w-full"
                  formControlName="publisher"
                  inputId="publisher"
                  [multiple]="false"
                  [dropdown]="false"
                  [suggestions]="filteredPublishers"
                  [forceSelection]="false"
                  [showClear]="false"
                  (completeMethod)="filterPublishers($event)">
                </p-autoComplete>
                @if (!book.metadata!['publisherLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('publisher')" severity="success"></p-button>
                }
                @if (book.metadata!['publisherLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('publisher')" severity="warn"></p-button>
                }
              </div>
            </div>
            <div class="field-group date-field">
              <label for="publishedDate">{{ 'metadata.editor.label.publishedDate' | translate }}</label>
              <div class="field-with-lock">
                <p-datepicker
                  formControlName="publishedDate"
                  inputId="publishedDate"
                  dataType="string"
                  dateFormat="yy-mm-dd"
                  [keepInvalid]="true"
                  [showIcon]="false"
                  [iconDisplay]="'input'"
                  fluid="true"
                  appendTo="body">
                </p-datepicker>
                @if (!book.metadata!['publishedDateLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('publishedDate')" severity="success"></p-button>
                }
                @if (book.metadata!['publishedDateLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('publishedDate')" severity="warn"></p-button>
                }
              </div>
            </div>
          </div>

          <div class="field-row">
            <div class="field-group full-width">
              <label for="categories">{{ 'metadata.editor.label.genres' | translate }}</label>
              <div class="field-with-lock">
                <div class="autocomplete-wrapper">
                  <p-autoComplete
                    formControlName="categories"
                    [multiple]="true"
                    [dropdown]="false"
                    [suggestions]="filteredCategories"
                    [forceSelection]="false"
                    [showClear]="true"
                    (completeMethod)="filterCategories($event)"
                    (onKeyUp)="onAutoCompleteKeyUp('categories', $event)"
                    (onSelect)="onAutoCompleteSelect('categories', $event)">
                  </p-autoComplete>
                </div>
                @if (!book.metadata!['categoriesLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('categories')" severity="success"></p-button>
                }
                @if (book.metadata!['categoriesLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('categories')" severity="warn"></p-button>
                }
              </div>
            </div>
          </div>

          <div class="field-row">
            <div class="field-group full-width">
              <label for="moods">{{ 'metadata.editor.label.moods' | translate }}</label>
              <div class="field-with-lock">
                <div class="autocomplete-wrapper">
                  <p-autoComplete
                    formControlName="moods"
                    [multiple]="true"
                    [dropdown]="false"
                    [suggestions]="filteredMoods"
                    [forceSelection]="false"
                    [showClear]="true"
                    (completeMethod)="filterMoods($event)"
                    (onKeyUp)="onAutoCompleteKeyUp('moods', $event)"
                    (onSelect)="onAutoCompleteSelect('moods', $event)">
                  </p-autoComplete>
                </div>
                @if (!book.metadata!['moodsLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('moods')" severity="success"></p-button>
                }
                @if (book.metadata!['moodsLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('moods')" severity="warn"></p-button>
                }
              </div>
            </div>
          </div>
          <div class="field-row">
            <div class="field-group full-width">
              <label for="tags">{{ 'metadata.editor.label.tags' | translate }}</label>
              <div class="field-with-lock">
                <div class="autocomplete-wrapper">
                  <p-autoComplete
                    formControlName="tags"
                    [multiple]="true"
                    [dropdown]="false"
                    [suggestions]="filteredTags"
                    [forceSelection]="false"
                    [showClear]="true"
                    (completeMethod)="filterTags($event)"
                    (onKeyUp)="onAutoCompleteKeyUp('tags', $event)"
                    (onSelect)="onAutoCompleteSelect('tags', $event)">
                  </p-autoComplete>
                </div>
                @if (!book.metadata!['tagsLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('tags')" severity="success"></p-button>
                }
                @if (book.metadata!['tagsLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('tags')" severity="warn"></p-button>
                }
              </div>
            </div>
          </div>

          <div class="field-row">
            <div class="field-group series-name-field">
              <label for="seriesName">{{ 'metadata.editor.label.seriesName' | translate }}</label>
              <div class="field-with-lock">
                <p-autoComplete
                  inputStyleClass="w-full"
                  formControlName="seriesName"
                  inputId="seriesName"
                  [multiple]="false"
                  [dropdown]="false"
                  [suggestions]="filteredSeries"
                  [forceSelection]="false"
                  [showClear]="false"
                  (completeMethod)="filterSeries($event)">
                </p-autoComplete>
                @if (!book.metadata!['seriesNameLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesName')" severity="success"></p-button>
                }
                @if (book.metadata!['seriesNameLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesName')" severity="warn"></p-button>
                }
              </div>
            </div>

            <div class="field-group small-field">
              <label for="seriesNumber">{{ 'metadata.editor.label.seriesNumber' | translate }}</label>
              <div class="field-with-lock">
                <input pInputText id="seriesNumber" formControlName="seriesNumber"/>
                @if (!book.metadata!['seriesNumberLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesNumber')" severity="success"></p-button>
                }
                @if (book.metadata!['seriesNumberLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesNumber')" severity="warn"></p-button>
                }
              </div>
            </div>

            <div class="field-group small-field">
              <label for="seriesTotal">{{ 'metadata.editor.label.seriesTotal' | translate }}</label>
              <div class="field-with-lock">
                <input pInputText id="seriesTotal" formControlName="seriesTotal"/>
                @if (!book.metadata!['seriesTotalLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesTotal')" severity="success"></p-button>
                }
                @if (book.metadata!['seriesTotalLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesTotal')" severity="warn"></p-button>
                }
              </div>
            </div>

            <div class="field-group small-field">
              <label for="pageCount">{{ 'metadata.editor.label.pageCount' | translate }}</label>
              <div class="field-with-lock">
                <input pInputText id="pageCount" formControlName="pageCount"/>
                @if (!book.metadata!['pageCountLocked']) {
                  <p-button icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('pageCount')" severity="success"></p-button>
                }
                @if (book.metadata!['pageCountLocked']) {
                  <p-button icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('pageCount')" severity="warn"></p-button>
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field-row metadata-ids-row">
        <div class="field-group metadata-id-field">
          <label for="reviews">{{ 'metadata.editor.label.publicReviews' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText [disabled]="true" [value]="'metadata.editor.value.noValue' | translate"/>
            @if (!book.metadata!['reviewsLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('reviews')" severity="success"></p-button>
            }
            @if (book.metadata!['reviewsLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('reviews')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="isbn10">{{ 'metadata.editor.label.isbn10' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="isbn10" formControlName="isbn10"/>
            @if (!book.metadata!['isbn10Locked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('isbn10')" severity="success"></p-button>
            }
            @if (book.metadata!['isbn10Locked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('isbn10')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="isbn13">{{ 'metadata.editor.label.isbn13' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="isbn13" formControlName="isbn13"/>
            @if (!book.metadata!['isbn13Locked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('isbn13')" severity="success"></p-button>
            }
            @if (book.metadata!['isbn13Locked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('isbn13')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="asin">{{ 'metadata.editor.label.asin' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="asin" formControlName="asin"/>
            @if (!book.metadata!['asinLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('asin')" severity="success"></p-button>
            }
            @if (book.metadata!['asinLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('asin')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="amazonRating">{{ 'metadata.editor.label.amazonRating' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="amazonRating" formControlName="amazonRating"/>
            @if (!book.metadata!['amazonRatingLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('amazonRating')" severity="success"></p-button>
            }
            @if (book.metadata!['amazonRatingLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('amazonRating')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="amazonRatingCount">{{ 'metadata.editor.label.amazonReviewCount' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="amazonRatingCount" formControlName="amazonReviewCount"/>
            @if (!book.metadata!['amazonReviewCountLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('amazonReviewCount')" severity="success"></p-button>
            }
            @if (book.metadata!['amazonReviewCountLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('amazonReviewCount')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="googleId">{{ 'metadata.editor.label.googleId' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="googleId" formControlName="googleId"/>
            @if (!book.metadata!['googleIdLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('googleId')" severity="success"></p-button>
            }
            @if (book.metadata!['googleIdLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('googleId')" severity="warn"></p-button>
            }
          </div>
        </div>
      </div>

      <div class="field-row metadata-ids-row">
        <div class="field-group metadata-id-field">
          <label for="goodreadsId">{{ 'metadata.editor.label.goodreadsId' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="goodreadsId" formControlName="goodreadsId"/>
            @if (!book.metadata!['goodreadsIdLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('goodreadsId')" severity="success"></p-button>
            }
            @if (book.metadata!['goodreadsIdLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('goodreadsId')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="goodreadsRating">{{ 'metadata.editor.label.goodreadsRating' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="goodreadsRating" formControlName="goodreadsRating"/>
            @if (!book.metadata!['goodreadsRatingLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('goodreadsRating')" severity="success"></p-button>
            }
            @if (book.metadata!['goodreadsRatingLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('goodreadsRating')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="goodreadsReviewCount">{{ 'metadata.editor.label.goodreadsReviewCount' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="goodreadsReviewCount" formControlName="goodreadsReviewCount"/>
            @if (!book.metadata!['goodreadsReviewCountLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('goodreadsReviewCount')" severity="success"></p-button>
            }
            @if (book.metadata!['goodreadsReviewCountLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('goodreadsReviewCount')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="hardcoverId">{{ 'metadata.editor.label.hardcoverId' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="hardcoverId" formControlName="hardcoverId"/>
            @if (!book.metadata!['hardcoverIdLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('hardcoverId')" severity="success"></p-button>
            }
            @if (book.metadata!['hardcoverIdLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('hardcoverId')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="hardcoverBookId">{{ 'metadata.editor.label.hardcoverBookId' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="hardcoverBookId" formControlName="hardcoverBookId"/>
            @if (!book.metadata!['hardcoverBookIdLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('hardcoverBookId')" severity="success"></p-button>
            }
            @if (book.metadata!['hardcoverBookIdLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('hardcoverBookId')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="hardcoverRating">{{ 'metadata.editor.label.hardcoverRating' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="hardcoverRating" formControlName="hardcoverRating"/>
            @if (!book.metadata!['hardcoverRatingLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('hardcoverRating')" severity="success"></p-button>
            }
            @if (book.metadata!['hardcoverRatingLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('hardcoverRating')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="hardcoverReviewCount">{{ 'metadata.editor.label.hardcoverReviewCount' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="hardcoverReviewCount" formControlName="hardcoverReviewCount"/>
            @if (!book.metadata!['hardcoverReviewCountLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('hardcoverReviewCount')" severity="success"></p-button>
            }
            @if (book.metadata!['hardcoverReviewCountLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('hardcoverReviewCount')" severity="warn"></p-button>
            }
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row w-full gap-4 mt-2 pb-1">
        <div class="field-group metadata-id-field">
          <label for="lubimyczytacId">{{ 'metadata.editor.label.lubimyczytacId' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="lubimyczytacId" formControlName="lubimyczytacId"/>
            @if (!book.metadata!['lubimyczytacIdLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('lubimyczytacId')" severity="success"></p-button>
            }
            @if (book.metadata!['lubimyczytacIdLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('lubimyczytacId')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="lubimyczytacRating">{{ 'metadata.editor.label.lubimyczytacRating' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="lubimyczytacRating" formControlName="lubimyczytacRating"/>
            @if (!book.metadata!['lubimyczytacRatingLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('lubimyczytacRating')" severity="success"></p-button>
            }
            @if (book.metadata!['lubimyczytacRatingLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('lubimyczytacRating')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="field-group metadata-id-field">
          <label for="comicvineId">{{ 'metadata.editor.label.comicvineId' | translate }}</label>
          <div class="field-with-lock">
            <input pSize="small" pInputText id="comicvineId" formControlName="comicvineId"/>
            @if (!book.metadata!['comicvineIdLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('comicvineId')" severity="success"></p-button>
            }
            @if (book.metadata!['comicvineIdLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('comicvineId')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="flex flex-col gap-1 md:w-1/6">
          <label class="text-sm" for="ranobedbId">{{ 'metadata.editor.label.ranobedbId' | translate }}</label>
          <div class="flex withbutton">
            <input pSize="small" pInputText id="ranobedbId" formControlName="ranobedbId" class="w-full"/>
            @if (!book.metadata!['ranobedbIdLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('ranobedbId')" severity="success"></p-button>
            }
            @if (book.metadata!['ranobedbIdLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('ranobedbId')" severity="warn"></p-button>
            }
          </div>
        </div>
        <div class="flex flex-col gap-1 md:w-1/6">
          <label class="text-sm" for="ranobedbRating">{{ 'metadata.editor.label.ranobedbRating' | translate }}</label>
          <div class="flex withbutton">
            <input pSize="small" pInputText id="ranobedbRating" formControlName="ranobedbRating" class="w-full"/>
            @if (!book.metadata!['ranobedbRatingLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('ranobedbRating')" severity="success"></p-button>
            }
            @if (book.metadata!['ranobedbRatingLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('ranobedbRating')" severity="warn"></p-button>
            }
          </div>
        </div>
      </div>

      <div class="description-section">
        <div class="field-group description-field">
          <label for="description">{{ 'metadata.editor.label.description' | translate }}</label>
          <div class="field-with-lock description-with-lock">
                <textarea
                  id="description"
                  pTextarea
                  formControlName="description"
                  rows="10">
                </textarea>
            @if (!book.metadata!['descriptionLocked']) {
              <p-button size="small" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('description')" severity="success"></p-button>
            }
            @if (book.metadata!['descriptionLocked']) {
              <p-button size="small" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('description')" severity="warn"></p-button>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <p-divider></p-divider>
      <div class="footer-actions">

        <!-- Desktop Buttons -->
        <div class="desktop-actions">
          @if (showNavigationButtons) {
            <div class="navigation-left">
              <p-button [label]="'common.close' | translate" icon="pi pi-times" [outlined]="true" severity="danger" (onClick)="closeDialog()"></p-button>
              <p-divider layout="vertical"/>
              <p-button [label]="'metadata.editor.button.previousBook' | translate" [disabled]="disablePrevious" icon="pi pi-arrow-left" [outlined]="true" severity="info" (onClick)="onPrevious()"></p-button>
              <p-button [label]="'metadata.editor.button.nextBook' | translate" [disabled]="disableNext" icon="pi pi-arrow-right" iconPos="right" [outlined]="true" severity="info" (onClick)="onNext()"></p-button>
            </div>
          }

          @if (navigationState$ | async) {
            <div class="navigation-center">
              <p-button
                icon="pi pi-chevron-left"
                [disabled]="!canNavigatePrevious()"
                (onClick)="navigatePrevious()"
                rounded
                outlined
                severity="info"
                [pTooltip]="'metadata.editor.tooltip.goToPreviousBook' | translate"
                tooltipPosition="bottom">
              </p-button>
              <span class="navigation-position">
                  {{ getNavigationPosition() }}
                </span>
              <p-button
                icon="pi pi-chevron-right"
                iconPos="right"
                [disabled]="!canNavigateNext()"
                (onClick)="navigateNext()"
                severity="info"
                rounded
                outlined
                [pTooltip]="'metadata.editor.tooltip.goToNextBook' | translate"
                tooltipPosition="bottom">
              </p-button>
            </div>
          }

          <div class="actions-right">
            <p-button
              [label]="isAutoFetching ? ('metadata.editor.status.fetching' | translate) : ('metadata.editor.button.autoFetch' | translate)"
              [icon]="isAutoFetching ? 'pi pi-spin pi-spinner' : 'pi pi-bolt'"
              [outlined]="true"
              severity="info"
              (onClick)="autoFetch(book.id)"
              [disabled]="isAutoFetching"
              [pTooltip]="'metadata.editor.tooltip.autoFetchDefault' | translate"
              tooltipPosition="top">
            </p-button>
            <p-divider layout="vertical"/>
            <p-button [label]="'metadata.editor.button.unlockAll' | translate" icon="pi pi-lock-open" [outlined]="true" severity="success" (onClick)="unlockAll()" [pTooltip]="'metadata.editor.tooltip.unlockAllFields' | translate" tooltipPosition="top"></p-button>
            <p-button [label]="'metadata.editor.button.lockAll' | translate" icon="pi pi-lock" [outlined]="true" severity="warn" (onClick)="lockAll()" [pTooltip]="'metadata.editor.tooltip.lockAllFields' | translate" tooltipPosition="top"></p-button>
            <p-divider layout="vertical"/>
            <p-button [label]="'common.save' | translate" icon="pi pi-check" [loading]="isSaving" [disabled]="isSaving" (onClick)="onSave()"></p-button>
          </div>
        </div>

        <!-- Mobile Buttons -->
        <div class="mobile-actions">
          @if (showNavigationButtons) {
            <div class="mobile-nav-buttons">
              <p-button size="small" icon="pi pi-times" [outlined]="true" severity="danger" (onClick)="closeDialog()" [pTooltip]="'metadata.editor.tooltip.close' | translate" tooltipPosition="top"></p-button>
              <p-button size="small" icon="pi pi-arrow-left" [disabled]="disablePrevious" [outlined]="true" severity="info" (onClick)="onPrevious()" [pTooltip]="'metadata.editor.tooltip.previousBook' | translate" tooltipPosition="top"></p-button>
              <p-button size="small" icon="pi pi-arrow-right" [disabled]="disableNext" iconPos="right" [outlined]="true" severity="info" (onClick)="onNext()" [pTooltip]="'metadata.editor.tooltip.nextBook' | translate" tooltipPosition="top"></p-button>
            </div>
          }

          <div class="mobile-actions-row">
            @if (navigationState$ | async) {
              <div class="navigation-center">
                <p-button
                  icon="pi pi-chevron-left"
                  [disabled]="!canNavigatePrevious()"
                  (onClick)="navigatePrevious()"
                  rounded
                  outlined
                  severity="info"
                  [pTooltip]="'metadata.editor.tooltip.goToPreviousBook' | translate"
                  tooltipPosition="bottom">
                </p-button>
                <span class="navigation-position">
                  {{ getNavigationPosition() }}
                </span>
                <p-button
                  icon="pi pi-chevron-right"
                  iconPos="right"
                  [disabled]="!canNavigateNext()"
                  (onClick)="navigateNext()"
                  severity="info"
                  rounded
                  outlined
                  [pTooltip]="'metadata.editor.tooltip.goToNextBook' | translate"
                  tooltipPosition="bottom">
                </p-button>
              </div>
            }
            <div class="mobile-lock-actions">
              <p-button
                icon="pi pi-bolt"
                [outlined]="true"
                severity="info"
                (onClick)="autoFetch(book.id)"
                [disabled]="isAutoFetching"
                [pTooltip]="'metadata.editor.tooltip.autoFetch' | translate"
                tooltipPosition="top">
              </p-button>

              <p-button
                icon="pi pi-lock-open"
                [outlined]="true"
                severity="success"
                (onClick)="unlockAll()"
                [pTooltip]="'metadata.editor.tooltip.unlockAll' | translate"
                tooltipPosition="top">
              </p-button>

              <p-button
                icon="pi pi-lock"
                [outlined]="true"
                severity="warn"
                (onClick)="lockAll()"
                [pTooltip]="'metadata.editor.tooltip.lockAll' | translate"
                tooltipPosition="top">
              </p-button>
            </div>

            <div class="mobile-save-action">
              <p-button
                [label]="'common.save' | translate"
                icon="pi pi-check"
                [loading]="isSaving"
                [disabled]="isSaving"
                (onClick)="onSave()">
              </p-button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </form>
}
