<div class="main-container enclosing-container">
  <div class="settings-header">
    <div class="section-title-group">
      <div>
        <h2 class="settings-title">
          <i class="pi pi-server"></i>
          {{ 'settings.emailV2.provider.title' | translate }}
        </h2>
        <p class="settings-description">
          {{ 'settings.emailV2.provider.description' | translate }}
        </p>
      </div>
      <p-button
        icon="pi pi-plus"
        [label]="'settings.emailV2.provider.action.createProvider' | translate"
        severity="success"
        size="small"
        [outlined]="true"
        (onClick)="openCreateProviderDialog()">
      </p-button>
    </div>
  </div>

  <div class="settings-content">
    <div class="preferences-section">
      <div class="table-card">
        <p-table [value]="emailProviders" [scrollable]="true" scrollHeight="flex">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%;">
                <div class="header-content">
                  <i class="pi pi-star"></i>
                  <span>{{ 'settings.emailV2.provider.table.default' | translate }}</span>
                </div>
              </th>
              <th style="width: 20%;">
                <div class="header-content">
                  <i class="pi pi-tag"></i>
                  <span>{{ 'settings.emailV2.provider.table.name' | translate }}</span>
                </div>
              </th>
              <th style="width: 14%;">
                <div class="header-content">
                  <i class="pi pi-server"></i>
                  <span>{{ 'settings.emailV2.provider.table.host' | translate }}</span>
                </div>
              </th>
              <th style="width: 5%;">
                <div class="header-content">
                  <i class="pi pi-link"></i>
                  <span>{{ 'settings.emailV2.provider.table.port' | translate }}</span>
                </div>
              </th>
              <th style="width: 13%;">
                <div class="header-content">
                  <i class="pi pi-user"></i>
                  <span>{{ 'settings.emailV2.provider.table.username' | translate }}</span>
                </div>
              </th>
              <th style="width: 11%;">
                <div class="header-content">
                  <i class="pi pi-lock"></i>
                  <span>{{ 'settings.emailV2.provider.table.password' | translate }}</span>
                </div>
              </th>
              <th style="width: 11%;">
                <div class="header-content">
                  <i class="pi pi-envelope"></i>
                  <span>{{ 'settings.emailV2.provider.table.fromAddress' | translate }}</span>
                </div>
              </th>
              <th style="width: 4%;" class="permission-header">{{ 'settings.emailV2.provider.table.auth' | translate }}</th>
              <th style="width: 5%;" class="permission-header">{{ 'settings.emailV2.provider.table.startTls' | translate }}</th>
              @if (isAdmin) {
                <th style="width: 5%;" class="permission-header">
                  <div class="header-content">
                    <i class="pi pi-share-alt"></i>
                    <span>{{ 'settings.emailV2.provider.table.shared' | translate }}</span>
                  </div>
                </th>
              }
              <th style="width: 7%;" class="actions-header">
                <div class="header-content">
                  <i class="pi pi-pencil"></i>
                  <span>{{ 'settings.emailV2.provider.table.edit' | translate }}</span>
                </div>
              </th>
              <th style="width: 8%;" class="actions-header">
                <div class="header-content">
                  <i class="pi pi-trash"></i>
                  <span>{{ 'settings.emailV2.provider.table.delete' | translate }}</span>
                </div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-provider>
            <tr>
              <td class="text-center">
                <p-radioButton
                  name="defaultProvider"
                  [value]="provider.id"
                  [(ngModel)]="defaultProviderId"
                  (onClick)="setDefaultProvider(provider)">
                </p-radioButton>
              </td>

              <td>
                @if (provider.isEditing) {
                  <input type="text" [(ngModel)]="provider.name" class="p-inputtext w-full" size="small"/>
                }
                @if (!provider.isEditing) {
                  <div class="flex align-items-center gap-2">
                    <span>
                      {{ provider.name }}
                      @if (provider.shared) {
                        <span class="shared-badge" [pTooltip]="'settings.emailV2.provider.tooltip.sharedProvider' | translate">S</span>
                      }
                    </span>
                  </div>
                }
              </td>

              <td>
                @if (provider.isEditing) {
                  <input type="text" [(ngModel)]="provider.host" class="p-inputtext w-full" size="small"/>
                }
                @if (!provider.isEditing) {
                  <span>{{ provider.host }}</span>
                }
              </td>

              <td>
                @if (provider.isEditing) {
                  <input type="number" [(ngModel)]="provider.port" class="p-inputtext w-full" size="small"/>
                }
                @if (!provider.isEditing) {
                  <span>{{ provider.port }}</span>
                }
              </td>

              <td>
                @if (provider.isEditing) {
                  <input type="text" [(ngModel)]="provider.username" class="p-inputtext w-full" size="small"/>
                }
                @if (!provider.isEditing) {
                  <span>{{ provider.username }}</span>
                }
              </td>

              <td>
                @if (provider.isEditing) {
                  <input [(ngModel)]="provider.password" class="p-inputtext w-full" size="small"/>
                }
                @if (!provider.isEditing) {
                  <span class="password-hidden">{{ 'settings.emailV2.provider.table.passwordHidden' | translate }}</span>
                }
              </td>

              <td>
                @if (provider.isEditing) {
                  <input type="text" [(ngModel)]="provider.fromAddress" class="p-inputtext w-full" size="small"/>
                }
                @if (!provider.isEditing) {
                  <span>{{ provider.fromAddress }}</span>
                }
              </td>

              <td class="text-center">
                <p-checkbox
                  [(ngModel)]="provider.auth"
                  [binary]="true"
                  [disabled]="!provider.isEditing">
                </p-checkbox>
              </td>

              <td class="text-center">
                <p-checkbox
                  [(ngModel)]="provider.startTls"
                  [binary]="true"
                  [disabled]="!provider.isEditing">
                </p-checkbox>
              </td>

              @if (isAdmin) {
                <td class="text-center">
                  <p-checkbox
                    [(ngModel)]="provider.shared"
                    [binary]="true"
                    (onChange)="toggleShared(provider)"
                    [pTooltip]="'settings.emailV2.provider.tooltip.shareWithAllUsers' | translate">
                  </p-checkbox>
                </td>
              }

              <td class="actions-cell">
                @if (!provider.isEditing) {
                  <p-button
                    [icon]="canModifyProvider(provider) ? 'pi pi-pencil' : 'pi pi-lock'"
                    [severity]="canModifyProvider(provider) ? 'info' : 'secondary'"
                    size="small"
                    [outlined]="true"
                    [rounded]="true"
                    [disabled]="!canModifyProvider(provider)"
                    (onClick)="canModifyProvider(provider) && toggleEdit(provider)"
                    [pTooltip]="canModifyProvider(provider) ? ('settings.emailV2.provider.tooltip.editProvider' | translate) : ('settings.emailV2.provider.tooltip.cannotEditSharedProvider' | translate)"
                    tooltipPosition="left">
                  </p-button>
                }
                @if (provider.isEditing) {
                  <div class="flex gap-1">
                    <p-button
                      icon="pi pi-check"
                      severity="success"
                      size="small"
                      [outlined]="true"
                      [rounded]="true"
                      (onClick)="saveProvider(provider)"
                      [pTooltip]="'settings.emailV2.provider.tooltip.saveChanges' | translate">
                    </p-button>
                    <p-button
                      icon="pi pi-times"
                      severity="danger"
                      size="small"
                      [outlined]="true"
                      [rounded]="true"
                      (onClick)="toggleEdit(provider)"
                      [pTooltip]="'settings.emailV2.provider.tooltip.cancel' | translate">
                    </p-button>
                  </div>
                }
              </td>

              <td class="actions-cell">
                <p-button
                  [icon]="canModifyProvider(provider) ? 'pi pi-trash' : 'pi pi-lock'"
                  [severity]="canModifyProvider(provider) ? 'danger' : 'secondary'"
                  size="small"
                  [outlined]="true"
                  [rounded]="true"
                  [disabled]="!canModifyProvider(provider)"
                  (onClick)="canModifyProvider(provider) && deleteProvider(provider)"
                  [pTooltip]="canModifyProvider(provider) ? ('settings.emailV2.provider.tooltip.deleteProvider' | translate) : ('settings.emailV2.provider.tooltip.cannotDeleteSharedProvider' | translate)"
                  tooltipPosition="left">
                </p-button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="isAdmin ? 12 : 11">
                <div class="empty-message">
                  <i class="pi pi-envelope"></i>
                  <p class="empty-title">{{ 'settings.emailV2.provider.empty.title' | translate }}</p>
                  <p class="empty-subtitle">{{ 'settings.emailV2.provider.empty.subtitle' | translate }}</p>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
