<div class="cbx-preferences-container">
  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">{{ 'settings.readerPreferences.cbx.field.pageSpread.label' | translate }}</label>
        <div class="button-group">
          @for (spread of cbxSpreads; track spread) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxSpread === spread.key"
              (click)="selectedCbxSpread = spread.key">
              <i [class]="spread.icon"></i>
              <span class="option-text">{{ spread.name | translate }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        {{ 'settings.readerPreferences.cbx.field.pageSpread.description' | translate }}
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">{{ 'settings.readerPreferences.cbx.field.pageLayout.label' | translate }}</label>
        <div class="button-group">
          @for (mode of cbxViewModes; track mode) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxViewMode === mode.key"
              (click)="selectedCbxViewMode = mode.key">
              <i [class]="mode.icon"></i>
              <span class="option-text">{{ mode.name | translate }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        {{ 'settings.readerPreferences.cbx.field.pageLayout.description' | translate }}
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">{{ 'settings.readerPreferences.cbx.field.fitMode.label' | translate }}</label>
        <div class="button-group">
          @for (mode of cbxFitModes; track mode) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxFitMode === mode.key"
              (click)="selectedCbxFitMode = mode.key"
              [pTooltip]="mode.name | translate"
              tooltipPosition="bottom">
              <i [class]="mode.icon"></i>
              <span class="option-text">{{ mode.name | translate }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        {{ 'settings.readerPreferences.cbx.field.fitMode.description' | translate }}
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">{{ 'settings.readerPreferences.cbx.field.scrollMode.label' | translate }}</label>
        <div class="button-group">
          @for (mode of cbxScrollModes; track mode) {
            <button
              type="button"
              class="option-button"
              [class.selected]="selectedCbxScrollMode === mode.key"
              (click)="selectedCbxScrollMode = mode.key">
              <i [class]="mode.icon"></i>
              <span class="option-text">{{ mode.name | translate }}</span>
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        {{ 'settings.readerPreferences.cbx.field.scrollMode.description' | translate }}
      </p>
    </div>
  </div>

  <div class="setting-item">
    <div class="setting-info">
      <div class="setting-label-row">
        <label class="setting-label">{{ 'settings.readerPreferences.cbx.field.backgroundColor.label' | translate }}</label>
        <div class="theme-selector">
          @for (color of cbxBackgroundColors; track color) {
            <button
              type="button"
              class="theme-option"
              [class.selected]="selectedCbxBackgroundColor === color.key"
              [style.background-color]="color.color"
              (click)="selectedCbxBackgroundColor = color.key"
              [attr.aria-label]="color.name | translate"
              [pTooltip]="color.name | translate"
              tooltipPosition="bottom">
              @if (selectedCbxBackgroundColor === color.key) {
                <i class="pi pi-check"></i>
              }
            </button>
          }
        </div>
      </div>
      <p class="setting-description">
        {{ 'settings.readerPreferences.cbx.field.backgroundColor.description' | translate }}
      </p>
    </div>
  </div>
</div>
