<div class="main-container enclosing-container">
  <div class="settings-header">
    <h2 class="settings-title">
      <i class="pi pi-sort-alt"></i>
      {{ 'settings.filterPreferences.title' | translate }}
    </h2>
    <p class="settings-description">
      {{ 'settings.filterPreferences.description' | translate }}
    </p>
  </div>

  <div class="settings-content">
    <div class="preferences-section">
      <div class="settings-card">
        <div class="setting-item">
          <div class="setting-info">
            <div class="setting-label-row">
              <label class="setting-label">
                {{ 'settings.filterPreferences.label.filterMode' | translate }}
                <i class="pi pi-info-circle text-sky-600"
                   [pTooltip]="'settings.filterPreferences.tooltip.filterMode' | translate"
                   tooltipPosition="right"
                   style="cursor: pointer;">
                </i>
              </label>
              <p-select
                size="small"
                [options]="filterModes"
                [(ngModel)]="selectedFilterMode"
                (ngModelChange)="onFilterModeChange()"
                appendTo="body">
              </p-select>
            </div>
            <p class="setting-description">
              {{ 'settings.filterPreferences.description.filterMode' | translate }}
            </p>
          </div>
        </div>

        <div class="setting-item">
          <div class="setting-info">
            <div class="setting-label-row">
              <label class="setting-label">
                {{ 'settings.filterPreferences.label.sortingMode' | translate }}
                <i class="pi pi-info-circle text-sky-600"
                   [pTooltip]="'settings.filterPreferences.tooltip.sortingMode' | translate"
                   tooltipPosition="right"
                   style="cursor: pointer;">
                </i>
              </label>
              <p-select
                size="small"
                [options]="filterSortingModes"
                [(ngModel)]="selectedFilterSortingMode"
                (ngModelChange)="onFilterSortingModeChange()"
                appendTo="body">
              </p-select>
            </div>
            <p class="setting-description">
              {{ 'settings.filterPreferences.description.sortingMode' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
