<div class="main-container enclosing-container">
  <div class="settings-header">
    <h2 class="settings-title">
      <i class="pi pi-sort-alt"></i>
      {{ 'settings.sidebarSortingPreferences.title' | translate }}
    </h2>
    <p class="settings-description">
      {{ 'settings.sidebarSortingPreferences.description' | translate }}
    </p>
  </div>

  <div class="settings-content">
    <div class="preferences-section">
      <div class="settings-card">
        <div class="setting-item">
          <div class="setting-info">
            <div class="setting-label-row">
              <label class="setting-label">
                {{ 'settings.sidebarSortingPreferences.label.library' | translate }}
              </label>
              <p-select
                size="small"
                [options]="sortingOptions"
                [(ngModel)]="selectedLibrarySorting"
                (ngModelChange)="onLibrarySortingChange()"
                appendTo="body"
                [placeholder]="'settings.sidebarSortingPreferences.placeholder.selectSorting' | translate">
              </p-select>
            </div>
            <p class="setting-description">
              {{ 'settings.sidebarSortingPreferences.description.library' | translate }}
            </p>
          </div>
        </div>

        <div class="setting-item">
          <div class="setting-info">
            <div class="setting-label-row">
              <label class="setting-label">
                {{ 'settings.sidebarSortingPreferences.label.shelf' | translate }}
              </label>
              <p-select
                size="small"
                [options]="sortingOptions"
                [(ngModel)]="selectedShelfSorting"
                (ngModelChange)="onShelfSortingChange()"
                appendTo="body"
                [placeholder]="'settings.sidebarSortingPreferences.placeholder.selectSorting' | translate">
              </p-select>
            </div>
            <p class="setting-description">
              {{ 'settings.sidebarSortingPreferences.description.shelf' | translate }}
            </p>
          </div>
        </div>

        <div class="setting-item">
          <div class="setting-info">
            <div class="setting-label-row">
              <label class="setting-label">
                {{ 'settings.sidebarSortingPreferences.label.magicShelf' | translate }}
              </label>
              <p-select
                size="small"
                [options]="sortingOptions"
                [(ngModel)]="selectedMagicShelfSorting"
                (ngModelChange)="onMagicShelfSortingChange()"
                appendTo="body"
                [placeholder]="'settings.sidebarSortingPreferences.placeholder.selectSorting' | translate">
              </p-select>
            </div>
            <p class="setting-description">
              {{ 'settings.sidebarSortingPreferences.description.magicShelf' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
