@if (fetchedMetadata && fetchedMetadata.title) {
  <form [formGroup]="metadataForm" class="metapicker flex flex-col w-full">
    <div class="flex-grow overflow-auto">
      <div class="metaheader relative flex items-center">
        <label class="md:w-[8rem] text-sm"></label>
        <div class="flex w-full items-center">
          <p class="w-1/2">{{ 'bookdrop.metadataPicker.header.fileData' | translate }}</p>
          <div class="midbuttons">
            <p-button
              size="small"
              icon="pi pi-angle-left"
              class="mx-2"
              [outlined]="true"
              [pTooltip]="'bookdrop.metadataPicker.tooltip.copyMissing' | translate"
              tooltipPosition="bottom"
              (onClick)="copyMissing()"
            ></p-button>
            <p-button
              size="small"
              icon="pi pi-angle-double-left"
              class="mx-2"
              [outlined]="true"
              [pTooltip]="'bookdrop.metadataPicker.tooltip.overwriteAll' | translate"
              tooltipPosition="bottom"
              (onClick)="copyAll()"
            ></p-button>
            <p-button
              size="small"
              severity="warn"
              icon="pi pi-refresh"
              class="mx-2"
              [outlined]="true"
              [pTooltip]="'bookdrop.metadataPicker.tooltip.resetOriginal' | translate"
              tooltipPosition="bottom"
              (onClick)="confirmReset()"
            ></p-button>
          </div>
          <p class="w-1/2">{{ 'bookdrop.metadataPicker.header.fetchedData' | translate }}</p>
        </div>
      </div>
      <div class="metacontent">
        <div class="meta-row field-thumbnail">
          <label class="md:w-[8rem] text-sm"></label>
          <div class="flex w-full items-center justify-center">
            <div class="flex w-1/2">
              @if (metadataForm.get('thumbnailUrl')?.value) {
                <p-image
                  class="thumbnail"
                  [src]="metadataForm.get('thumbnailUrl')?.value"
                  [alt]="'bookdrop.metadataPicker.a11y.imageAlt' | translate"
                  appendTo="body"
                  lazyLoad
                  [preview]="true"
                  [ngClass]="{
                    'changed': isValueCopied('thumbnailUrl'),
                  }"
                ></p-image>
              }
              @else {
                <div class="thumbnail text-sm">{{ 'bookdrop.metadataPicker.placeholder.noCoverImage' | translate }}</div>
              }
              <input type="hidden" id="thumbnailUrl" formControlName="thumbnailUrl"/>
            </div>
            <p-button
              size="small"
              [icon]="isValueSaved('thumbnailUrl') ? 'pi pi-check' : (isValueCopied('thumbnailUrl') ? 'pi pi-refresh' : 'pi pi-angle-left')"
              [outlined]="true"
              class="arrow-button"
              [severity]="isValueCopied('thumbnailUrl') ? 'warn' : null"
              [disabled]="!isFetchedDifferent('thumbnailUrl') && !isValueCopied('thumbnailUrl')"
              (click)="isValueCopied('thumbnailUrl') ? resetField('thumbnailUrl') : copyFetchedToCurrent('thumbnailUrl')"
            />
            <div class="flex w-1/2">
              @if (fetchedMetadata.thumbnailUrl) {
                <p-image
                class="thumbnail"
                [src]="fetchedMetadata.thumbnailUrl!"
                [alt]="'bookdrop.metadataPicker.a11y.imageAlt' | translate"
                appendTo="body"
                lazyLoad
                [preview]="true"
                ></p-image>
              }
              @else {
                <div class="thumbnail text-sm">{{ 'bookdrop.metadataPicker.placeholder.coverNotFound' | translate }}</div>
              }
              <input type="hidden" [value]="fetchedMetadata.thumbnailUrl" readonly/>
            </div>
          </div>
        </div>
        @for (field of metadataFieldsTop; track field) {
          <div class="meta-row field-{{field.controlName}}">
            <label for="{{field.controlName}}" class="md:w-[8rem] text-sm">{{ field.label | translate }}</label>
            <div class="meta-fields">
              <input
                pSize="small"
                fluid
                pInputText
                id="{{field.controlName}}"
                formControlName="{{field.controlName}}"
                class="dest"
                [ngClass]="{
                  'changed': isValueChanged(field.controlName),
                }"
              />
              <p-button
                size="small"
                [icon]="isValueSaved(field.controlName) ? 'pi pi-check' : (isValueChanged(field.controlName) || !fetchedMetadata[field.fetchedKey] ? 'pi pi-refresh' : 'pi pi-angle-left')"
                [outlined]="true"
                [ngClass]="{
                  'nosrc' : !fetchedMetadata[field.fetchedKey]
                }"
                class="arrow-button"
                [severity]="isValueChanged(field.controlName) ? 'warn' : null"
                [disabled]="!isFetchedDifferent(field.controlName) && !isValueChanged(field.controlName)"
                (click)="isValueChanged(field.controlName) ? resetField(field.controlName) : copyFetchedToCurrent(field.controlName)"
              />
              @if (fetchedMetadata[field.fetchedKey]) {
                <input 
                  pSize="small"
                  pInputText
                  [value]="fetchedMetadata[field.fetchedKey] ?? null"
                  class="src"
                  disabled
                  [ngClass]="{
                    'diff': isFetchedDifferent(field.controlName),
                  }"
                />
              }
            </div>
          </div>
        }
        @for (field of metadataPublishDate; track field) {
          <div class="meta-row field-{{field.controlName}}">
            <label for="{{field.controlName}}" class="md:w-[8rem] text-sm">{{ field.label | translate }}</label>
            <div class="meta-fields">
              <p-datepicker
                size="small"
                fluid
                inputId="{{field.controlName}}"
                formControlName="{{field.controlName}}"
                dataType="string"
                dateFormat="yy-mm-dd"
                [keepInvalid]="true"
                [showIcon]="true"
                [iconDisplay]="'input'"
                appendTo="body"
                class="dest"
                [ngClass]="{
                  'changed': isValueChanged(field.controlName),
                }">
              </p-datepicker>
              <p-button
                size="small"
                [icon]="isValueSaved(field.controlName) ? 'pi pi-check' : (isValueChanged(field.controlName) || !fetchedMetadata[field.fetchedKey] ? 'pi pi-refresh' : 'pi pi-angle-left')"
                [outlined]="true"
                [ngClass]="{
                  'nosrc' : !fetchedMetadata[field.fetchedKey]
                }"
                class="arrow-button"
                [severity]="isValueChanged(field.controlName) ? 'warn' : null"
                [disabled]="!isFetchedDifferent(field.controlName) && !isValueChanged(field.controlName)"
                (click)="isValueChanged(field.controlName) ? resetField(field.controlName) : copyFetchedToCurrent(field.controlName)"
              />
              @if (fetchedMetadata[field.fetchedKey]) {
                <input 
                  pSize="small"
                  pInputText
                  [value]="fetchedMetadata[field.fetchedKey] ?? null"
                  class="src"
                  disabled
                  [ngClass]="{
                    'diff': isFetchedDifferent(field.controlName),
                  }"
                />
              }
            </div>
          </div>
        }
        @for (field of metadataChips; track field) {
          <div class="meta-row field-{{field.controlName}}">
            <label for="{{field.controlName}}" class="md:w-[8rem] text-sm">{{ field.label | translate }}</label>
            <div class="meta-fields">
              <p-autoComplete
                size="small"
                formControlName="{{field.controlName}}"
                [multiple]="true"
                [typeahead]="false"
                [dropdown]="false"
                [forceSelection]="false"
                class="dest w-full"
                [ngClass]="{
                  'changed': isValueChanged(field.controlName),
                }"
                (onBlur)="onAutoCompleteBlur(field.controlName, $event)"
              />
              <p-button
                size="small"
                [icon]="isValueSaved(field.controlName) ? 'pi pi-check' : (isValueChanged(field.controlName) || !fetchedMetadata[field.fetchedKey] ? 'pi pi-refresh' : 'pi pi-angle-left')"
                [outlined]="true"
                [ngClass]="{
                  'nosrc' : !fetchedMetadata[field.fetchedKey]
                }"
                class="arrow-button"
                [severity]="isValueChanged(field.controlName) ? 'warn' : null"
                [disabled]="!isFetchedDifferent(field.controlName) && !isValueChanged(field.controlName)"
                (click)="isValueChanged(field.controlName) ? resetField(field.controlName) : copyFetchedToCurrent(field.controlName)"
              />
              @if (fetchedMetadata[field.fetchedKey]) {
                <p-autoComplete
                  size="small"
                  [ngModel]="fetchedMetadata[field.fetchedKey] ?? []"
                  [ngModelOptions]="{standalone:true}"
                  [disabled]="true"
                  [multiple]="true"
                  [typeahead]="false"
                  [dropdown]="false"
                  [forceSelection]="false"
                  class="src w-full"
                  [ngClass]="{
                    'diff': isFetchedDifferent(field.controlName),
                  }"
                />
              }
            </div>
          </div>
        }
        @for (field of metadataDescription; track field) {
          <div class="meta-row field-{{field.controlName}}">
            <label for="{{field.controlName}}" class="md:w-[8rem] text-sm">{{ field.label | translate }}</label>
            <div class="meta-fields">
              <textarea
                pTextarea
                rows="4"
                pSize="small"
                id="{{field.controlName}}"
                formControlName="{{field.controlName}}"
                class="dest"
                [ngClass]="{
                  'changed': isValueChanged(field.controlName),
                }"
              ></textarea>
              <p-button
                size="small"
                [icon]="isValueSaved(field.controlName) ? 'pi pi-check' : (isValueChanged(field.controlName) || !fetchedMetadata[field.fetchedKey] ? 'pi pi-refresh' : 'pi pi-angle-left')"
                [outlined]="true"
                [ngClass]="{
                  'nosrc' : !fetchedMetadata[field.fetchedKey]
                }"
                class="arrow-button"
                [severity]="isValueChanged(field.controlName) ? 'warn' : null"
                [disabled]="!isFetchedDifferent(field.controlName) && !isValueChanged(field.controlName)"
                (click)="isValueChanged(field.controlName) ? resetField(field.controlName) : copyFetchedToCurrent(field.controlName)"
              />
              @if (fetchedMetadata[field.fetchedKey]) {
                <textarea
                  pTextarea
                  rows="4"
                  pSize="small"
                  [value]="fetchedMetadata[field.fetchedKey] ?? null"
                  class="src"
                  disabled
                  [ngClass]="{
                    'diff': isFetchedDifferent(field.controlName),
                  }"
                ></textarea>
              }
            </div>
          </div>
        }
        @for (field of metadataFieldsBottom; track field) {
          <div class="meta-row field-{{field.controlName}}">
            <label for="{{field.controlName}}" class="md:w-[8rem] text-sm">{{ field.label | translate }}</label>
            <div class="meta-fields">
              <input
                pInputText
                pSize="small"
                id="{{field.controlName}}"
                formControlName="{{field.controlName}}"
                class="dest"
                [ngClass]="{
                  'changed': isValueChanged(field.controlName),
                }"
              />
              <p-button
                size="small"
                [icon]="isValueSaved(field.controlName) ? 'pi pi-check' : (isValueChanged(field.controlName) || !fetchedMetadata[field.fetchedKey] ? 'pi pi-refresh' : 'pi pi-angle-left')"
                [outlined]="true"
                [ngClass]="{
                  'nosrc' : !fetchedMetadata[field.fetchedKey]
                }"
                class="arrow-button"
                [severity]="isValueChanged(field.controlName) ? 'warn' : null"
                [disabled]="!isFetchedDifferent(field.controlName) && !isValueChanged(field.controlName)"
                (click)="isValueChanged(field.controlName) ? resetField(field.controlName) : copyFetchedToCurrent(field.controlName)"
              />
              @if (fetchedMetadata[field.fetchedKey]) {
                <input
                  pInputText
                  pSize="small"
                  [value]="fetchedMetadata[field.fetchedKey] ?? null"
                  class="src"
                  disabled
                  [ngClass]="{
                    'diff': isFetchedDifferent(field.controlName),
                  }"
                />
              }
            </div>
          </div>
        }
      </div>
    </div>
  </form>
} @else {
  <form [formGroup]="metadataForm" class="metaeditor flex w-full">
    <div class="flex-grow overflow-auto">
      <div class="metaheader relative flex items-center">
        <p class="text-sm missingmd">
          {{ 'bookdrop.metadataPicker.error.unableToFetchMetadata' | translate }}
        </p>
        <p-button
          size="small"
          severity="warn"
          icon="pi pi-refresh"
          [outlined]="true"
          [pTooltip]="'bookdrop.metadataPicker.tooltip.resetOriginal' | translate"
          tooltipPosition="left"
          (onClick)="confirmReset()"
        ></p-button>
      </div>
      <div class="metabody flex flex-col p-4 md:flex-row">
        <div class="flex items-start justify-center md:w-[20%] md:h-full">
          <div class="w-full md:h-full field-thumbnail">
            <img 
              [src]="metadataForm.get('thumbnailUrl')?.value"
              [attr.alt]="'bookdrop.metadataPicker.a11y.bookThumbnailAlt' | translate"
              class="thumbnail w-full md:h-full object-contain"
            />
            <input type="hidden" id="thumbnailUrl" formControlName="thumbnailUrl"/>
          </div>
        </div>
        <div class="metacontent md:w-[80%]">
          @for (field of metadataFieldsTop; track field) {
            <div class="meta-row field-{{field.controlName}}">
              <label for="{{field.controlName}}" class="w-[8rem] text-sm">{{ field.label | translate }}</label>
              <div class="flex w-full">
                <input
                  pSize="small"
                  fluid
                  pInputText
                  id="{{field.controlName}}"
                  formControlName="{{field.controlName}}"
                  [ngClass]="{
                    'changed': isValueChanged(field.controlName),
                  }"
                />
                <p-button
                  size="small"
                  icon="pi pi-refresh"
                  [outlined]="true"
                  class="arrow-button"
                  severity="warn"
                  [disabled]="!isValueChanged(field.controlName)"
                  (click)="resetField(field.controlName)"
                />
              </div>
            </div>
          }

          @for (field of metadataPublishDate; track field) {
            <div class="meta-row field-{{field.controlName}}">
              <label for="{{field.controlName}}" class="w-[8rem] text-sm">{{ field.label | translate }}</label>
              <div class="flex w-full">
                <p-datepicker
                  size="small"
                  fluid
                  inputId="{{field.controlName}}"
                  formControlName="{{field.controlName}}"
                  dataType="string"
                  dateFormat="yy-mm-dd"
                  [keepInvalid]="true"
                  [showIcon]="true"
                  [iconDisplay]="'input'"
                  appendTo="body"
                  class="w-full"
                  [ngClass]="{
                    'changed': isValueChanged(field.controlName),
                  }">
                </p-datepicker>
                <p-button
                  size="small"
                  icon="pi pi-refresh"
                  [outlined]="true"
                  class="arrow-button"
                  severity="warn"
                  [disabled]="!isValueChanged(field.controlName)"
                  (click)="resetField(field.controlName)"
                />
              </div>
            </div>
          }

          @for (field of metadataChips; track field) {
            <div class="meta-row field-{{field.controlName}}">
              <label for="{{field.controlName}}" class="w-[8rem] text-sm">{{ field.label | translate }}</label>
              <div class="flex w-full">
                <p-autoComplete
                  size="small"
                  formControlName="{{field.controlName}}"
                  [multiple]="true"
                  [typeahead]="false"
                  [dropdown]="false"
                  [forceSelection]="false"
                  class="w-full"
                  [ngClass]="{
                    'changed': isValueChanged(field.controlName),
                  }"
                  (onBlur)="onAutoCompleteBlur(field.controlName, $event)"
                />
                <p-button
                  size="small"
                  icon="pi pi-refresh"
                  [outlined]="true"
                  class="arrow-button"
                  severity="warn"
                  [disabled]="!isValueChanged(field.controlName)"
                  (click)="resetField(field.controlName)"
                />
              </div>
            </div>
          }

          @for (field of metadataDescription; track field) {
            <div class="meta-row field-{{field.controlName}}">
              <label for="{{field.controlName}}" class="w-[8rem] text-sm">{{ field.label | translate }}</label>
              <div class="flex w-full">
                <textarea
                  pTextarea
                  fluid
                  rows="4"
                  pSize="small"
                  id="{{field.controlName}}"
                  formControlName="{{field.controlName}}"
                  [ngClass]="{
                    'changed': isValueChanged(field.controlName),
                  }"
                ></textarea>
                <p-button
                  size="small"
                  icon="pi pi-refresh"
                  [outlined]="true"
                  class="arrow-button"
                  severity="warn"
                  [disabled]="!isValueChanged(field.controlName)"
                  (click)="resetField(field.controlName)"
                />
              </div>
            </div>
          }

          @for (field of metadataFieldsBottom; track field) {
            <div class="meta-row field-{{field.controlName}}">
              <label for="{{field.controlName}}" class="w-[8rem] text-sm">{{ field.label | translate }}</label>
              <div class="flex w-full">
                <input
                  pSize="small"
                  fluid
                  pInputText
                  id="{{field.controlName}}"
                  formControlName="{{field.controlName}}"
                  [ngClass]="{
                    'changed': isValueChanged(field.controlName),
                  }"
                />
                <p-button
                  size="small"
                  icon="pi pi-refresh"
                  [outlined]="true"
                  class="arrow-button"
                  severity="warn"
                  [disabled]="!isValueChanged(field.controlName)"
                  (click)="resetField(field.controlName)"
                />
              </div>
            </div>
          }
        </div>
      </div>  
    </div>
  </form>
}
